<div>

  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/about_us/hallway.jpg" alt="Hallway">
      </div>
      <div class="item">
        <img src="images/about_us/Lobby.jpg" alt="Lobby">
      </div>
      <div class="item">
        <img src="images/about_us/Office.jpg" alt="Office">
      </div>
      <div class="item">
        <img src="images/about_us/GroupRoom.jpg" alt="GroupRoom">
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>

  <h1>About Us</h1>
  <p>
    The Family Development Center was established in 1996 to serve the needs of the Hong Kong community. Originally known as Therapy Associates, in 2010 we changed our name to the Blurton Family Development Center in order to be able to address a wider range of topics. Since then, we have grown into a multi-disciplinary team, with over a dozen dedicated and passionate individuals.
  </p>
  
  <h2>Our Ethics</h2>
  <p>
    The Blurton Family Development Center operates in strict compliance with the ethical principles prescribed by the Hong Kong Psychological Society (HKPS) and the American Psychological Association (APA). All of our psychologists, therapists and counselors are appropriately licensed (many in two countries). All of our psychologists are required to have a solid background in their field of practice. 
  </p>

  <h2>Giving Back</h2>
  <p>
    We are a private practice and therefore cannot provide pro bono services to everyone. However, we recognize the fact that those in severe need of psychological services do not always have the money to pay for them. Our therapists are encouraged to take on pro bono cases if they see a severe need. To make us aware of an opportunity to help, please email giving@blurton-fdc.com
    <br>
    <br>
    Our Director, Dr. Jadis Blurton, was the 2009 recipient of the American Chamber of Commerce’s Ira Dan Kaye Award, given annually to one individual or organization for significant contribution to the community of Hong Kong. She is also the Board Chairperson for The Children’s Institute (a center for autistic children) and serves on the Board of The Harbour School.
  </p>

</div>