<div>
  <p>
    <strong>Our mission</strong> is to promote personal development and mental wellbeing.  We do this by accurately, pragmatically, responsibly, compassionately, and respectfully approaching each person's needs.
  </p>

  <p>
    <strong>We believe in...</strong>
  </p>

  <p>
    <em>A Positive Approach</em> – At our practice, we believe it is important to identify strengths as well as weaknesses. We want to help build healthy relationships, as well as handle unhealthy ones. In other words, we aim to grow as well as mend.
  </p>

  <p>
    <em>A Comprehensive Approach</em> – Nothing is more complex than the development of individuals. Each of us is an assortment of strengths, weaknesses, relationships, environments, and characteristics. We believe that the best approach productively captures this diversity.
  </p>

  <p>
    <em>A Practical Approach</em> – Most people are not looking for a label. They’re looking for ways to achieve success, reach higher levels of functioning, find engagement and discover meaning. They’re looking for a happier future for themselves or their children. Our focus is on improving lives, not categorizing problems. This does not mean that we do not use labels or diagnoses, but when we do, we hope that they will serve a pragmatic purpose and that they will help to further the more important goals of development and wellbeing.
  </p>
</div>