<div>
  <div class="col-lg-3">
    <h3>Our Team</h3>
    <hr>
    <div class="breadcrumb spacing">
      <a href="">Dr. Jadis Blurton</a>
      <br>
      <a href="">Dr. Kristie Craigen</a>
      <br>
      <a href="">Dr. Amanda Oswalt</a>
      <br>
      <a href="">Dr. Alison Cook</a>
      <br>
      <a href="">Dr. Patricia Kopstein</a>
      <br>
      <a href="">Dr. Sandra Comer</a>
      <br>
      <a href="">Dr. Bernard Anderson</a>
      <br>
      <a href="">Sarah Konopka</a>
      <br>
      <a href="">Paulina Louie</a>
      <br>
      <a href="">Sara Dobson</a>
      <br>
      <a href="">Claire Forrest</a>
      <br>
      <a href="">Justine Campbell</a>
      <br>
      <a href="">Wendy Kou</a>
      <br>
      <a href="">Cindy Bonacorso LaTour</a>
      <br>
      <a href="">Regina Lo-Barrington</a>
      <br>
      <a href="">Kathryn Sly</a>
      <br>
      <a href="">Emma Rhoda</a>
      <br>
      <a href="">Henrik Hoeg</a>
    </div>
  </div>

  <div>
    <div id="jadis" class="ourteam">
      <img src="images/our_team/jadis_blurton.jpg">
      <a href="">Dr. Jadis Blurton</a>
      <br>
      <em>Clinical Director</em>
      <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

</div>






















